body{background: #dddddd; background-image: url(images/background1.png); margin: 0; padding: 0; font: 16px/24px Century Gothic, Tahoma, sans-serif;}
a{text-decoration: none;}

/*Структура сайта*/
div.mid{width: 1000px; margin: 0 auto; padding-top: 10px;}
div.header{background: #FFDAB9;}

/* Шапка сайта */
div.topmenu{float: right; padding-top: 0px; height: 30px; line-height: 30px;}
div.topmenu a{margin: 0 0 0 10px; color: #C71585;}
div.topmenu a:hover{color: #FFFFFF}